{% extends 'proyecto_web_app/plantilla_padre.html' %}

{% block title %}
Maria Irma - {{cabana.ubicacion}}
{% endblock %}

{% block content %}

<h1 class="site-heading text-center text-green d-none d-lg-block">
    <span class="site-heading-lower">{{cabana.ubicacion}}</span>
</h1> 

<div class="container">
    <div class="row">
        <div class="col-3">
            <p>
                {{cabana.texto}}
            </p>
        </div>
        <div class="col-9 pl-5">
            <img src="{{ cabana.image_main.url }} " alt="..." class="img-thumbnail">
        </div>
    </div>

    <div class="row pt-5">
        {% if cabana.image_1 %}
        <div class="col">
            <img src="{{ cabana.image_1.url }} " alt="..." class="img-thumbnail">
        </div>
        {% endif %}
        {% if cabana.image_2 %}
        <div class="col">
            <img src="{{ cabana.image_2.url }} " alt="..." class="img-thumbnail">
        </div>
        {% endif %}
    </div>

    <div class="row pt-5">
        {% if cabana.image_3 %}
        <div class="col">
            <img src="{{cabana.image_3.url}}" class="img-fluid img-thumbnail" alt="img-thumbnail">
        </div>
        {% endif %}
        {% if cabana.image_4 %}
        <div class="col">
            <img src="{{cabana.image_4.url}}" class="img-fluid img-thumbnail" alt="img-thumbnail">
        </div>
        {% endif %}
        </div>

    {% if cabana.image_5 %}
    <div class="row pt-5">

            <img src="{{ cabana.image_5.url }} " class="img-fluid img-thumbnail">

    </div>
    {% endif %}
</div>


{% endblock %}