<footer class="footer text-faded text-center py-5 mt-4">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="display-3">
          Horario
        </h1>

        <h3 class="p-3">Lunes a viernes</h3>
        <p>        
         De 8 a 22hs recepción de llamadas teléfonicas 
        </p>

          <a href="https://es-la.facebook.com/Caba%C3%B1as-Maria-Irma-1741746759401646/">
          <i class="fa fa-facebook-square fa-5x mr-4" style="color:#FFFFFF4D"></i>
          </a>

          <a href="https://api.whatsapp.com/send?phone=59898671033">
          <i class="fab fa-whatsapp fa-5x ml-4" style="color:#FFFFFF4D"></i>
          </a>
          <br><br><br>

        <p class="m-0 mbt1">&copy; Maria Irma 2020</p>
      </div>

      <div class="col-sm">
        <h1 class="display-4">
          Dirección del estudio
        </h1>
          <br>
          <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d204.5092576645969!2d-54.999077606814275!3d-34.902732153054025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d-34.9028251!2d-54.999097799999994!5e0!3m2!1sen!2suy!4v1593134489258!5m2!1sen!2suy" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="rounded"></iframe>

      </div>

    </div>
  </div>
  
</footer>