<html>

<head>
    {% load static %}
    <link  rel="icon"   href="{% static 'proyecto_web_app/img/favicon.ico'%}" type="image/x-icon" />
    <title>{% block title %} {% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="{% static 'proyecto_web_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'proyecto_web_app/css/gestion.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-9">
        <img src="{% static 'proyecto_web_app/img/titulo_3.png' %}" class="img-fluid pt-4 px-2">
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
      




<!-- Navbar -->
 {% include 'proyecto_web_app/navbar.html' %}
<!-- Navbar -->


<!-- Whatsapp -->
<a href="https://api.whatsapp.com/send?phone=59898671033" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
<!-- Whatsapp -->

<!-- Contenido -->
  {% include 'messages.html' %}
    <div class="container">
      {% block content%}
      {% endblock %}
    </div>
<!-- Contenido -->


    <!-- Footer -->
    {% include 'proyecto_web_app/footer.html' %}
    <!-- Footer -->

    
    <!-- Bootstrap -->
    <script src="{% static 'proyecto_web_app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'proyecto_web_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Bootstrap -->

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/24ffa67cad.js" crossorigin="anonymous"></script>
    <!-- Fontawesome -->
</body>
</html>