{% extends "proyecto_web_app/plantilla_padre.html" %}
{% load static %}
{% block title %}
Maria Irma - Servicios
{% endblock %}
    

{% block content %}
<h1 class="site-heading text-center d-none d-lg-block">
    <span class="display-3">Nuestros servicios</span>
</h1>

<div class="container">
    <div class="row">
      <div class="col">
        <p class="mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit velit, rem voluptas esse debitis quisquam expedita dolorem voluptatem quasi. Officiis aliquid esse molestiae iure minima doloremque consequuntur ipsam explicabo dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt, omnis accusantium rem tenetur quasi quam et facilis fugiat animi iure ipsa ipsam quas voluptates. Necessitatibus natus nemo reprehenderit 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime libero ducimus quas deleniti nam cupiditate, quidem quos fuga corporis, repellat, voluptatum rem accusantium ratione. Ipsum laboriosam corrupti suscipit! Voluptates, commodi!
          </p>
      </div>
      <div class="col">
        <img src="{% static 'proyecto_web_app/img/principal.jpg' %}" class="img-fluid rounded">
      </div>
    </div>
</div>

<hr>



{% endblock %}
